
@font-face {
  font-family: 'mantraalt';
  src: url('../fonts/mantra-alt-webfont.woff2') format('woff2'),
       url('../fonts/mantra-alt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'strawford_regularregular';
  src: url('../fonts/strawford_regular-webfont.woff2') format('woff2'),
       url('../fonts/strawford_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'strawfordmedium';
  src: url('../fonts/strawford_medium-webfont.woff2') format('woff2'),
       url('../fonts/strawford_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'strawford_boldbold';
  src: url('../fonts/strawford_bold-webfont.woff2') format('woff2'),
       url('../fonts/strawford_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  background: #000;
}

body {
  background-color: #111;
  color: #fff;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 140%;
  font-family: 'strawford_regularregular', sans-serif;
  position: relative;
}





::-moz-selection {
  background: #F3DEDE;
  text-shadow: none;
}

::selection {
  background: #F3DEDE;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floatsh1
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



h1{
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'mantraalt';
  text-transform: uppercase;
}

@media (max-width: 767px){
  h1{
    font-size: 3.2rem;
  }
}

p{
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 2.4rem 0;
}

@media (max-width: 767px){
  p{
    font-size: 1.4rem;
  }
}

.button{
  font-weight: 500;
  line-height: initial;
  font-size: 1.4rem;
  padding: 1.6rem 4rem;
  border: 0;
  background: #000;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  outline: none;
  position: relative;
  z-index: 9;
  text-decoration: none;
}

.button:hover{
  background: #d483bf;
  color: #000;
}

.small{
  font-size: 12px;
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    margin: 3em 0;
    position: relative;
}

.small::before{
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ccc;
}

.small:hover{
  color: #fff;
}

.small:hover::before{
  background: #fff;
  width: 100%;
}

@media (max-width: 767px){
  .button{
    font-size: 1.3rem;
  }
}



section{
  overflow-x: hidden;
}

section p,
section h1,
section a,
section button,
section .svg_image{
  position: relative;
  z-index: 9;
}


header{
  z-index: 2;
  width: 100%;
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

header .container{
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

header.sticky .container{
  transform: translateY(-2rem);
}

header nav{
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  padding: 1.6rem 0;
}

@media (max-width: 991px){
  header{
    display: none;
  }
}





.mobile_menu_trigger{
  display: none
}

@media (max-width: 767px){


  .mobile_menu_open{
    overflow: hidden
  }

  header ul li:not(:first-of-type),
  header ul::after{
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
  }

  .mobile_menu_open header ul li:not(:first-of-type),
  .mobile_menu_open header ul::after{
  visibility: visible;
  overflow-y: auto;
  opacity: 1;
  transition: opacity .5s ease;
}

  header ul::after {
    content: "";
    background: #F3DEDE;
    position: fixed;
    top: 2.6vh;
    left: 0;
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
    z-index: 0;
  }
  header ul li:not(:first-of-type){
    position: fixed;
    width: 100%;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
  }



  .mobile_menu_trigger{
    position: fixed;
    top: 4rem;
    right: 15px;
    width: 28px;
    height: 32px;
    z-index: 999;
    border: 0;
    padding: 0;
    outline: none;
    display: block;
    background: transparent;
    transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  }


  .mobile_menu_trigger span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


  .mobile_menu_trigger span,
  .mobile_menu_trigger span::after,
  .mobile_menu_trigger span::before{
    content: "";
    display: block;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 1px;
    transition: all 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  }

  .mobile_menu_trigger span::after,
  .mobile_menu_trigger span::before{
    position: absolute;
    transform-origin: center;
  }

  .mobile_menu_trigger span::after{
    transform: translateY(.8rem);
  }

  .mobile_menu_trigger span::before{
    transform: translateY(-.8rem);
  }

  .mobile_menu_open .mobile_menu_trigger span{
    background: rgba(0,0,0,0);
  }

  .mobile_menu_open .mobile_menu_trigger span::after{
    transform: rotate(45deg) translateY(0);
  }

  .mobile_menu_open .mobile_menu_trigger span::before{
    transform: rotate(-45deg) translateY(0);
  }


  header ul li:nth-of-type(2){
    transform: translateX(-50vw) translateY(calc(-50% + -8rem))
  }
  header ul li:nth-of-type(4){
    transform: translateX(-50vw) translateY(calc(-50% + 8rem));
  }
  header ul li a:not(.logo),
  header ul li:last-of-type a:not(.logo){
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
    padding: 0 2rem;
  }
}



@media (max-width: 767px){

  body{
    overflow-x: hidden;
    transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  }

}



header ul,
footer ul{
  list-style: none;
  margin: 0;
  padding: 2vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header ul li:first-of-type{
  margin-right: auto;
}

header ul li a,
footer ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 2vh;
  line-height: initial;
  display: block;
  position: relative;
  transition: color 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

header.invert ul li a,
footer.invert ul li a{
  color: #fff;
}


@media (min-width: 768px){
  header ul li:last-of-type a:not(.logo){
    padding-right: 0;
    margin-right: 0;
  }
  
  header ul li a:not(.logo){
    padding: .8rem;
    margin: 0 .8rem;
  }
}


@media (min-width: 992px){

  header ul li a:not(.logo){
    margin: 0 1.6rem;
  }
}





header ul li:last-of-type a:hover::after{
  width: calc(100% - .8rem);
}

header ul li a.logo{
  margin: 0
}

header.sticky ul li a.logo{
  width: 360%;
}

header ul li h1{
  margin: 0;
  font-size: 2.4vh;
  font-family: 'strawford_regularregular';
}
























#about_my_work{
  margin: 20vh 0 10vh;
}


@media (max-width: 767px){
  #about_my_work{
    margin: 5.2rem 0;
    padding-bottom: 5.2rem;
  }
}

@media (max-width: 1199px){
  #about_my_work{
    padding-bottom: 2rem;
  }
}



@media (min-width: 768px){
  #about_my_work .about_my_work_grid{
    width: 100%;
    max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px 7%;
    overflow: visible;
    margin: 8vh;
  }
}


#about_my_work .about_my_work_grid .portrait{
  width: 100%;
    height: 100%;
    grid-column: 4 / span 6;
    grid-row: 1 / span 12;
    align-self: flex-end;
}

#about_my_work .about_my_work_grid .portrait img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



#about_my_work .about_my_work_grid .resume{
  grid-column: 9 / span 4;
    grid-row: 6 / span 12;
    align-self: end;
}

#about_my_work .about_my_work_grid .resume p{
  margin: 3.2rem 0;
}

#about_my_work .about_my_work_grid .resume p:last-of-type{
  margin-bottom: 0;
}


@media (max-width: 767px){
  #about_my_work .about_my_work_grid .resume{
    width: 75%;
    transform: translateX(25%);
    margin: 4rem 0;
  }
  #about_my_work .about_my_work_grid .resume p{
    margin: 2.4rem 0;
    font-size: 1.4rem;
  }
}


#about_my_work .about_my_work_grid h1{
  grid-column: 5 / span 5;
  grid-row: 1 / span 6;
  font-size: 6rem;
  line-height: 1;
  font-weight: 300;
  z-index: 1;
}

@media (max-width: 767px){
  #about_my_work .about_my_work_grid h1{
    font-size: 3.2rem;
  }
}

#about_my_work .about_my_work_grid .overlay_logo{
  grid-column: 3 / span 1;
  grid-row: 12 / span 1;
  width: 7rem;
  height: 12rem;
  transform: translate(50%, 32%);
}

#about_my_work .about_my_work_grid .overlay_logo svg{
  width: 100%;
  height: 100%;
}

@media (max-width: 767px){
  #about_my_work .about_my_work_grid .overlay_logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(64vw) translateY(82vw) scale(0.8);
  }
}

#about_my_work .about_my_work_text{
  margin: 0;
}

#about_my_work .about_my_work_text .button{
  margin: auto;
}

.call_to_action{
  text-align: center;
  position: relative;
  width: 100%;
  margin: 24vh 0 0;
}

.call_to_action a{
    font-size: 11vh;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
    display: block;
}



.call_to_action > figure svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(1.5) scaleX(1) translateY(-6%);
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}


.call_to_action a:hover + figure svg{
  opacity: 0;
}

.call_to_action > figure svg path {
  stroke: #d483bf;
  stroke-width: .3px;
  stroke-dasharray: 635px;
  stroke-dashoffset: 635px;
  transition: all 1.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.call_to_action a:hover > figure svg path{
  stroke-width: 0px;
}

.call_to_action .expand{
  transform: translateX(0%);
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}

.call_to_action a:hover .expand{
  opacity: 1;
}

.first_line{
  padding-right: 2vh;
  padding-left: 2vh;
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}

.call_to_action a:hover .first_line{
  padding-left: 0;
  padding-right: 4vh;
}

.call_to_action a .first_line span{
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}

.call_to_action a:hover .first_line span{
  opacity: 1;
}

.call_to_action a .first_line,
.call_to_action a .second_line{
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}



.call_to_action a:hover .second_line{
  opacity: 0;
}


.call_to_action .emojis{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.call_to_action .emojis svg{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
    width: 100%;
    height: 100%;
}

@media (max-width: 991px){
  .call_to_action a{
    text-decoration: underline;
    text-decoration-color: #d483bf;
  }
  .call_to_action > figure svg,
  .call_to_action .emojis svg{
    display: none;
  }
}


.call_to_action .emojis .lines{
  stroke-dasharray: 1147px;
  stroke-dashoffset: 1147px;
  transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
}


.call_to_action a:hover .emojis .lines{
  stroke-dashoffset: 0;
  transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
}




.call_to_action p:hover + figure svg{
  opacity: 0;
}

.call_to_action .in_viewport svg path {
  stroke-dashoffset: 0;
}

#about_my_work .about_my_work_text p{
  font-size: 4.8vh;
  line-height: 1.3;
  font-weight: 100;
  margin: 6.4rem 0;
}

@media (max-width: 767px){
  #about_my_work .about_my_work_text{
    margin: 3.2rem 0;
  }
  #about_my_work .about_my_work_text p{
    font-size: 2.8rem;
    line-height: 1.5;
    margin: 0 0 5.2rem 0;
  }
}

#about_my_work .signature svg{
  height: 7rem;
}

#about_my_work .signature svg path{
  stroke-dasharray: 1740px;
  stroke-dashoffset: 1740px;
  animation-delay: 1s;
  stroke-width: 4px;
  stroke: #0B1327;
}

@media (max-width: 767px){
  #about_my_work .signature svg{
    height: auto;
    width: 40vw;
    transform: translateX(40vw);
  }
}

#about_my_work .signature.in_viewport svg path{
  animation: signature 3s cubic-bezier(0.45, 0, 0.55, 1) forwards;
}


@keyframes signature {
  0% {
    stroke-dashoffset: 1740px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


/* #contact */

main{
  position: relative;
  z-index: 1;
}


#contact{
  background: #000;
}

#contact .container{
  padding-top: 12rem;
  padding-bottom: 15.6rem;
}

@media (min-width: 1200px){
  #contact{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  }
  #contact .container{
    padding-top: 7.2vw;
    padding-top: 10.2vw;
    padding-bottom: 7.2vw;
  }
}



#contact h1,
#contact p,
#contact a{
  color: #fff;
}

#contact p{
  margin: 0;
}

#contact h1{
  /*text-transform: uppercase;*/
  font-weight: 100;
  font-size: 5.8vw;
}





@media (max-width: 1199px){
  #contact h1{
    font-size: 5.8vw;
    margin-top: 0;
  }
}

#contact a{
  font-size: 4vw;
  font-weight: 100;
  text-decoration: none;
  margin-bottom: 2vw;
  display: inline-block;
  position: relative;
}

#contact a::after{
  content: "";
  position: absolute;
  bottom: 8px;
  width: 0;
  height: 2px;
  background: #fff;
  left: 0;
  transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}


@media (max-width: 767px){
  #contact a.animate_text.contact_email div{
    text-shadow: none;
  }
}

#contact .credits{
  position: absolute;
  bottom: 3.2rem;
  text-transform: uppercase;
}





@media (min-width: 768px){
  footer{
    color: #fff;
    z-index: 99;
    width: 100%;
  }
}



@media (max-width: 767px){

  #contact .container{
    padding-top: 8rem;
    padding-bottom: 7rem;
  }
  #contact{
    height: auto;
  }
  #contact h1{
    text-align: left;
    text-transform: initial;
    font-size: 3.2rem;
    margin: 2rem 0;
  }
  #contact a{
    margin: 0 0 2rem 0;
    font-size: 2.2rem;
  }
  #contact p{
    margin: 3.2rem 0;
    font-size: 1.3rem;
  }

}



footer ul{
  list-style: none;
}


footer .credits p,
footer a{
  font-size: 2.2vh;
  text-transform: uppercase;
  text-decoration: none;
  margin: 4vh 0
}






main{
  animation: main_intro_animation 2s forwards;
  animation-delay: 2s;
  opacity: 0;
}


@keyframes main_intro_animation {
  0%{
    padding-top: 7.2rem;
    opacity: 0;
  }
  
  100%{
    padding-top: 0;
    opacity: 1;
  }
}


header{
  animation: header_intro_animation 2s forwards;
  animation-delay: 2s;
  opacity: 0;
}


@keyframes header_intro_animation {
  0%{
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}





.animate_text {
  /*display: inline-block;*/
  transform: translateY(var(--y));
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  line-height: 1;
}

.animate_text div {
  display: flex;
  overflow: hidden;
  text-shadow: 2px 1.7rem #fff;
}
header ul li a.animate_text div{
  text-shadow: 2px 1.8rem #fff;
}

header.invert ul li a.animate_text div{
  text-shadow: 2px 1.8rem #fff;
}

@media (max-width: 767px){
  header ul li a.animate_text div{
    text-shadow: 2px 3rem #fff;
  }
}




.animate_text.contact_email div {
  display: flex;
  overflow: hidden;
  text-shadow: 2px 6vw #fff;
}

.animate_text div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  letter-spacing: .1rem;
}


.animate_text div span:nth-child(1) {
  transition-delay: 0.025s;
}
.butanimate_textton div span:nth-child(2) {
  transition-delay: 0.050s;
}
.animate_text div span:nth-child(3) {
  transition-delay: 0.075s;
}
.animate_text div span:nth-child(4) {
  transition-delay: 0.1s;
}
.animate_text div span:nth-child(5) {
  transition-delay: 0.125s;
}
.animate_text div span:nth-child(6) {
  transition-delay: 0.150s;
}
.animate_text div span:nth-child(7) {
  transition-delay: 0.175s;
}
.animate_text div span:nth-child(8) {
  transition-delay: 0.2s;
}
.animate_text div span:nth-child(9) {
  transition-delay: 0.225s;
}
.animate_text div span:nth-child(10) {
  transition-delay: 0.250s;
}
.animate_text div span:nth-child(11) {
  transition-delay: 0.275s;
}
.animate_text div span:nth-child(12) {
  transition-delay: 0.3s;
}
.animate_text div span:nth-child(13) {
  transition-delay: 0.325s;
}
.animate_text div span:nth-child(14) {
  transition-delay: 0.350s;
}
.animate_text div span:nth-child(15) {
  transition-delay: 0.375s;
}
.animate_text div span:nth-child(16) {
  transition-delay: 0.4s;
}
.animate_text div span:nth-child(17) {
  transition-delay: 0.425s;
}
.animate_text div span:nth-child(18) {
  transition-delay: 0.450s;
}
.animate_text div span:nth-child(19) {
  transition-delay: 0.475s;
}
.animate_text div span:nth-child(20) {
  transition-delay: 0.5s;
}
.animate_text div span:nth-child(21) {
  transition-delay: 0.525s;
}
.animate_text div span:nth-child(22) {
  transition-delay: 0.55s;
}
.animate_text div span:nth-child(23) {
  transition-delay: 0.575s;
}
.animate_text div span:nth-child(24) {
  transition-delay: 0.6s;
}
.animate_text div span:nth-child(25) {
  transition-delay: 0.625s;
}
.animate_text div span:nth-child(27) {
  transition-delay: 0.65s;
}
.animate_text div span:nth-child(28) {
  transition-delay: 0.675s;
}
.animate_text div span:nth-child(29) {
  transition-delay: 0.7s;
}
.animate_text div span:nth-child(30) {
  transition-delay: 0.725s;
}
.animate_text div span:nth-child(31) {
  transition-delay: 0.75s;
}
.animate_text div span:nth-child(32) {
  transition-delay: 0.775s;
}

.animate_text:hover span {
  transform: translateY(-100%);
}



.portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio li {
  height: 60vh;
  flex-grow: 1;
  padding: 2rem;
  box-sizing: border-box;
}

.portfolio li:last-child {
  flex-grow: 10;
}

.portfolio img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}




@media (max-aspect-ratio: 1/1) {
  .portfolio li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  .portfolio li {
    height: 80vh;
  }
}



@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .portfolio ul {
    flex-direction: row;
  }

  .portfolio li {
    height: auto;
    width: 100%;
  }
  .portfolio img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}


#intro{
  padding: 8vh 0 10vh;
  text-align: center;
}

#intro h1{
  font-size: 12vh;
  line-height: 1.2;
  margin: 0;
}

#intro p{
  font-size: 3vh;
}

.centered{
  text-align: center;
}

.no-margin{
  margin: 0 !important;
}

.intro p{
  font-size: 4.4vh;
  line-height: 1.5;
  font-family: 'strawfordmedium';
  margin: 10vh 0;
}


figure{
  padding: 0;
  margin: 8vh 0;
  width: 100%;
  background: #000;
  overflow: hidden;
}

figure img{
  width: 100%;
  display: block;
  transform: scale(1.2);
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.65, 0, 0.35, 1);
}

figure.in_viewport img{
  transform: scale(1);
  opacity: 1;
}


.mobile_only{
  display: none;
}

.mobile_only ul{
  list-style: none;
  margin: 24px 0;
  padding: 0;
  text-align: center;
}

.mobile_only li{
  display: inline-block;
}

.mobile_only a{
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  padding: 24px 12px;
    display: block;
}

.desktop_only{

}


@media (max-width: 991px){

  .desktop_only{
    display: none;
  }
  
  header ul li h1{
    font-size: 1.6rem;
  }

  header ul li a, footer ul li a{
    font-size: 1.6rem;
  }

  #intro{
    padding: 8vh 0 6vh;
  }

  #intro h1{
    font-size: 8rem;
    font-size: 12vw;
  }

  #intro p{
    font-size: 1.8rem;
  }

  h1{
    font-size: 6.4vh;
  }

  .intro p{
    font-size: 3.2rem;
    margin: 4rem 0 4rem 0;
  }

  #about_my_work .about_my_work_text p{
    font-size: 3.2rem;
  }

  .call_to_action a{
    font-size: 4.8rem;
  }

  .mobile_only{
    display: inline-block;
  }

  footer .credits p, footer a{
    font-size: 1.6rem;
  }

}